body{
    background-color:#f5f5f5;
    font-family: "Poppins", "Open Sans";
}

h1,h2,h3,h4.h5 {
    font-family:inherit;
    font-weight: normal;
    margin: 0;
}

a, a:hover, a:visited{
    text-decoration: none;
}

.navbar-fixed nav{
    background:#fff;
}

.navbar-inner{
    width:100%;
    height:100%;
    margin: 0 auto;
    background:#fff;
    max-width:1080px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    font-family:Poppins, Open Sans;
}

.navbar-inner a.logo , .navbar-inner .logo img{
    height:45px;
    width:45px;
}

.navbar-inner li{
    display: inline-block;
    margin-left:0px !important;
    margin-right:0px !important;
    color:#000;
}

.navbar-inner li a,
.navbar-inner li  button{
    font-size:13px;
    color:#000;
    font-family:Poppins, Open Sans;
}

.navbar-inner li button{
    background:transparent;
    border:none;
    padding:0;
}

.navbar-inner li a:hover,
.navbar-inner li button:hover{
    cursor:pointer;
    background:transparent;
    color:#2ba2ca !important;
}

.wrapper{
    padding:10px;
    
}

.articles{
    max-width:1080px;
}

.article{
    box-shadow:0 0 5px 1px #eee;
    position: relative;
    padding-bottom: 30px;
    border-radius:10px;
    border:1px solid rgb(0 0 0 / 0.25);
    margin-bottom:15px;
}

.article img{
    width:100%;
    height:350px;
}

.article .thumb img{
    border-top-left-radius:10px;
    border-top-right-radius:10px;
}

.article .details-snip{
    padding:10px;
}

.article .details-snip h2{
    font-size:20px;
    font-weight:600;
    color:#000;
    margin:0;
    margin-bottom:10px;
}

.article .details-snip p{
    color:#000;
    font-size:13px;
    margin:0;
    margin-bottom:10px;
}

.article .card-footer p{
     margin:0;
     font-size:12px;
     color:#000;
}

.article .card-footer p.author{
    text-transform:capitalize;
}



.article-detail .article{
    padding: 0;
}

.article-detail .article img{
    max-width: 100%;
}

.article-detail .article h2{
    text-align: center;
    margin: 20px auto;
    font-size: 2em;
}

.article-detail .article p{
    text-align: center;
}

.site-form{
    margin-top: 60px;
    border: 1px solid gold;
    padding: 20px;
}

.site-form input, .site-form textarea{
    display: block;
    margin: 20px 0 0 0;
    padding: 10px;
}

.helptext, .helptext ul{
    margin:0 auto 20px;
    color: #bbb;
    font-size: 0.9em;
    display: block;
}

.errorlist li{
    padding: 10px;
    list-style-type: none;
    border: 1px solid red;
    color: red;
    margin: 10px 0;

}

.errorlist{
    padding: 0;

}

.site-form input[type='submit']{
    background: gold;
    border: 0;
    color: white;
    font-size: 1.2em;
    border-radius: 4px;
    margin: 10px 0;
}

.article-detail .article p{
    text-align: center;
}

.site-form{
    margin-top: 60px;
    border: 1px solid gold;
    padding: 20px;
}

.site-form input, .site-form textarea{
    display: block;
    margin: 20px 0 0 0;
    padding: 10px;
}

.helptext, .helptext ul{
    margin:0 auto 20px;
    color: #bbb;
    font-size: 0.9em;
    display: block;
}

.errorlist li{
    padding: 10px;
    list-style-type: none;
    border: 1px solid red;
    color: red;
    margin: 10px 0;
}

.errorlist{
    padding: 0;

}

.site-form input[type='submit']{
    background: gold;
    border: 0;
    color: white;
    font-size: 1.2em;
    border-radius: 4px;
    margin: 10px 0;
}