body{
    background-color: orangered;
    background-image: url(left.jpg);
    background-repeat: no-repeat;
    color: #fff;
}

body *{
    font-family: "Times New Roman";
}

h1,h2,h3,h4.h5 {
    font-weight: normal;
    margin: 0;
}

a, a:hover, a:visited{
    color: #fff;
    text-decoration: none;
}

.wrapper{
    max-width: 700px;
    margin: 0 auto;
}

div.wrapper h1{
    text-align: center;
    margin: 100px auto;
    font-size: 2.4em;
}

header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px 0;
}

nav{
    justify-self: end;
}

nav li{
    display: inline-block;
    margin-left: 20px;
}

nav button{
    background: none;
    color: gold;
    cursor: pointer;
    border: 0;
    font-size: 1em;
}

.articles{
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     grid-gap: 30px;
 }

.article{
    padding: 10px;
    border: 1px solid gold;
    position: relative;
    padding-bottom: 30px;
}

.article h2{
     font-size: 1.2em;
    color: gold;
}

.article .author{
    padding: 10px;
    background: gold;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0;
    color: black;
    font-size:0.8em;
}

.article-detail .article{
    padding: 0;
}

.article-detail .article img{
    max-width: 100%;
}

.article-detail .article h2{
    text-align: center;
    margin: 20px auto;
    font-size: 2em;
}body{
    background-color: orangered;
    background-image: url(left.jpg);
    background-repeat: no-repeat;
    color: #fff;
}

body *{
    font-family: "Times New Roman";
}

h1,h2,h3,h4.h5 {
    font-weight: normal;
    margin: 0;
}

a, a:hover, a:visited{
    color: #fff;
    text-decoration: none;
}

.wrapper{
    max-width: 960px;
    margin: 0 auto;
}

.wrapper .logo img{
    width:45px;
}

div.wrapper h1{
    text-align: center;
    margin: 100px auto;
    font-size: 2.4em;
}

header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px 0;
}

nav{
    justify-self: end;
}

nav li{
    display: inline-block;
    margin-left: 20px;
}

nav button{
    background: none;
    color: gold;
    cursor: pointer;
    border: 0;
    font-size: 1em;
}

.articles{
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     grid-gap: 30px;
 }

.article{
    padding: 10px;
    border: 1px solid gold;
    position: relative;
    padding-bottom: 30px;
}

.article h2{
     font-size: 1.2em;
    color: gold;
}

.article a{
    color: gold;
}

.article .author{
    padding: 10px;
    background: gold;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0;
    color: black;
    font-size:0.8em;
}

.article .date{
    color: slategrey;
    font-size: 1em;
}

.article-detail .article{
    padding: 0;
}

.article-detail .article img{
    max-width: 100%;
}

.article-detail .article h2{
    text-align: center;
    margin: 20px auto;
    font-size: 2em;
}

.article-detail .article p{
    text-align: center;
}

.site-form{
    margin-top: 60px;
    border: 1px solid gold;
    padding: 20px;
}

.site-form input, .site-form textarea{
    display: block;
    margin: 20px 0 0 0;
    padding: 10px;
}

a.highlight{
    border: 1px solid gold;
    padding: 10px;
    border-radius: 4px;
    color: gold;
}

.helptext, .helptext ul{
    margin:0 auto 20px;
    color: #bbb;
    font-size: 0.9em;
    display: block;
}

.errorlist li{
    padding: 10px;
    list-style-type: none;
    border: 1px solid red;
    color: red;
    margin: 10px 0;

}

.errorlist{
    padding: 0;

}

.site-form input[type='submit']{
    background: gold;
    border: 0;
    color: white;
    font-size: 1.2em;
    border-radius: 4px;
    margin: 10px 0;
}

.article-detail .article p{
    text-align: center;
}

.site-form{
    margin-top: 60px;
    border: 1px solid gold;
    padding: 20px;
}

.site-form input, .site-form textarea{
    display: block;
    margin: 20px 0 0 0;
    padding: 10px;
}

a.highlight{
    border: 1px solid gold;
    padding: 10px;
    border-radius: 4px;
    color: gold;
}

.helptext, .helptext ul{
    margin:0 auto 20px;
    color: #bbb;
    font-size: 0.9em;
    display: block;
}

.errorlist li{
    padding: 10px;
    list-style-type: none;
    border: 1px solid red;
    color: red;
    margin: 10px 0;
}

.errorlist{
    padding: 0;

}

.site-form input[type='submit']{
    background: gold;
    border: 0;
    color: white;
    font-size: 1.2em;
    border-radius: 4px;
    margin: 10px 0;
}